In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('merged_limpio.csv')

In [4]:
df.head()

,Año,Mes,ID Cliente,Tamaño de Cliente,Categoría,Producto,Sum of Venta USD,Sum of Venta Cajas
0,2022,Diciembre,1,MICRO,BEBIDAS DE FRUTA,JDV Nrja Choice 300ml NR Pet 12B,2.550,1.0
1,2022,Diciembre,1,MICRO,BEBIDAS DE FRUTA,JDV Nrja Choice 950 ml NR Pet 12B,3.345,2.0
2,2022,Diciembre,1,MICRO,COLAS,Coca-Cola 300 ml NR Pet 12B,7.185,1.0
3,2022,Diciembre,1,MICRO,COLAS,Coca-Cola E 1.35 Lts NR Pet 12B,9.690,2.0
4,2022,Diciembre,1,MICRO,COLAS,Coca-Cola E 3 Lts NR 6B,19.050,4.0

In [5]:
# Diccionario para convertir nombre del mes a número
meses_dict = {
    'Enero': 1, 'Febrero': 2, 'Marzo': 3, 'Abril': 4,
    'Mayo': 5, 'Junio': 6, 'Julio': 7, 'Agosto': 8,
    'Septiembre': 9, 'Octubre': 10, 'Noviembre': 11, 'Diciembre': 12
}

# Crear columna de número de mes
df['Mes_num'] = df['Mes'].map(meses_dict)

# Crear columna de fecha (asignando día 1 para cada mes)
df['Fecha'] = pd.to_datetime(df['Año'].astype(str) + '-' + df['Mes_num'].astype(str) + '-01')

df.drop('Mes', axis=1, inplace=True)
df.head()

,Año,ID Cliente,Tamaño de Cliente,Categoría,Producto,Sum of Venta USD,Sum of Venta Cajas,Mes_num,Fecha
0,2022,1,MICRO,BEBIDAS DE FRUTA,JDV Nrja Choice 300ml NR Pet 12B,2.550,1.0,12,2022-12-01
1,2022,1,MICRO,BEBIDAS DE FRUTA,JDV Nrja Choice 950 ml NR Pet 12B,3.345,2.0,12,2022-12-01
2,2022,1,MICRO,COLAS,Coca-Cola 300 ml NR Pet 12B,7.185,1.0,12,2022-12-01
3,2022,1,MICRO,COLAS,Coca-Cola E 1.35 Lts NR Pet 12B,9.690,2.0,12,2022-12-01
4,2022,1,MICRO,COLAS,Coca-Cola E 3 Lts NR 6B,19.050,4.0,12,2022-12-01

In [6]:
from sklearn.preprocessing import LabelEncoder

le_tam = LabelEncoder()
le_cat = LabelEncoder()
le_prod = LabelEncoder()

df["Tamaño de Cliente_encoded"] = le_tam.fit_transform(df["Tamaño de Cliente"])
df["Categoría_encoded"] = le_cat.fit_transform(df["Categoría"])
df["Producto_encoded"] = le_prod.fit_transform(df["Producto"])

In [7]:
df.head()

,Año,ID Cliente,Tamaño de Cliente,Categoría,Producto,Sum of Venta USD,Sum of Venta Cajas,Mes_num,Fecha,Tamaño de Cliente_encoded,Categoría_encoded,Producto_encoded
0,2022,1,MICRO,BEBIDAS DE FRUTA,JDV Nrja Choice 300ml NR Pet 12B,2.550,1.0,12,2022-12-01,4,2,150
1,2022,1,MICRO,BEBIDAS DE FRUTA,JDV Nrja Choice 950 ml NR Pet 12B,3.345,2.0,12,2022-12-01,4,2,152
2,2022,1,MICRO,COLAS,Coca-Cola 300 ml NR Pet 12B,7.185,1.0,12,2022-12-01,4,4,5
3,2022,1,MICRO,COLAS,Coca-Cola E 1.35 Lts NR Pet 12B,9.690,2.0,12,2022-12-01,4,4,10
4,2022,1,MICRO,COLAS,Coca-Cola E 3 Lts NR 6B,19.050,4.0,12,2022-12-01,4,4,17

In [8]:
print(df[["Tamaño de Cliente", "Tamaño de Cliente_encoded"]].drop_duplicates())
print(df[["Categoría", "Categoría_encoded"]].drop_duplicates())
print(df[["Producto", "Producto_encoded"]].head())

     Tamaño de Cliente  Tamaño de Cliente_encoded
0                MICRO                          4
13             MEDIANO                          3
229              CHICO                          0
1816            GRANDE                          2
3643           EXT-GDE                          1
               Categoría  Categoría_encoded
0       BEBIDAS DE FRUTA                  2
2                  COLAS                  4
8             ISOTÓNICOS                  5
9                SABORES                  6
13       AGUA PURIFICADA                  1
70                    TÉ                  7
109  BEBIDAS ENERGETICAS                  3
329         AGUA MINERAL                  0
                            Producto  Producto_encoded
0   JDV Nrja Choice 300ml NR Pet 12B               150
1  JDV Nrja Choice 950 ml NR Pet 12B               152
2        Coca-Cola 300 ml NR Pet 12B                 5
3    Coca-Cola E 1.35 Lts NR Pet 12B                10
4            Coca-Cola E 3 Lts NR 6B                17

In [9]:
df1=df.copy()

In [10]:
df1.head()

,Año,ID Cliente,Tamaño de Cliente,Categoría,Producto,Sum of Venta USD,Sum of Venta Cajas,Mes_num,Fecha,Tamaño de Cliente_encoded,Categoría_encoded,Producto_encoded
0,2022,1,MICRO,BEBIDAS DE FRUTA,JDV Nrja Choice 300ml NR Pet 12B,2.550,1.0,12,2022-12-01,4,2,150
1,2022,1,MICRO,BEBIDAS DE FRUTA,JDV Nrja Choice 950 ml NR Pet 12B,3.345,2.0,12,2022-12-01,4,2,152
2,2022,1,MICRO,COLAS,Coca-Cola 300 ml NR Pet 12B,7.185,1.0,12,2022-12-01,4,4,5
3,2022,1,MICRO,COLAS,Coca-Cola E 1.35 Lts NR Pet 12B,9.690,2.0,12,2022-12-01,4,4,10
4,2022,1,MICRO,COLAS,Coca-Cola E 3 Lts NR 6B,19.050,4.0,12,2022-12-01,4,4,17

In [11]:
df.drop(["Tamaño de Cliente", "Categoría", "Producto"], axis=1, inplace=True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3001296 entries, 0 to 3001295
Data columns (total 9 columns):
 #   Column                     Dtype
---  ------                     -----
 0   Año                        int64
 1   ID Cliente                 int64
 2   Sum of Venta USD           float64
 3   Sum of Venta Cajas         float64
 4   Mes_num                    int64
 5   Fecha                      datetime64[ns]
 6   Tamaño de Cliente_encoded  int32
 7   Categoría_encoded          int32
 8   Producto_encoded           int32
dtypes: datetime64[ns](1), float64(2), int32(3), int64(3)
memory usage: 171.7 MB

# 3️⃣ Reto de Volumen — Regresión

Objetivo: Predecir el volumen probable y fijar meta +10% o +20%.

In [13]:
df.head()

,Año,ID Cliente,Sum of Venta USD,Sum of Venta Cajas,Mes_num,Fecha,Tamaño de Cliente_encoded,Categoría_encoded,Producto_encoded
0,2022,1,2.550,1.0,12,2022-12-01,4,2,150
1,2022,1,3.345,2.0,12,2022-12-01,4,2,152
2,2022,1,7.185,1.0,12,2022-12-01,4,4,5
3,2022,1,9.690,2.0,12,2022-12-01,4,4,10
4,2022,1,19.050,4.0,12,2022-12-01,4,4,17

In [14]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import LabelEncoder

# 1. Cargar tus datos
df = df

# 2. Seleccionar variables predictoras y target
features = ['Año', 'Mes_num', 'ID Cliente', 'Producto_encoded', 'Tamaño de Cliente_encoded', 'Categoría_encoded']
target = 'Sum of Venta Cajas'

# 3. Dividir entre entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(df[features], df[target], test_size=0.2, random_state=42)

# 4. Modelo de regresión (puedes usar Random Forest o cualquier otro)
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# 5. Predecir volumen en el conjunto original (o uno nuevo para la próxima semana)
df['Volumen Estimado'] = model.predict(df[features])

In [15]:
# 6. Producto recomendado: el más comprado históricamente por cliente
producto_mas_comprado = df.groupby('ID Cliente')['Producto_encoded'].agg(lambda x: x.mode().iloc[0])
df_recomendaciones = df[['ID Cliente', 'Volumen Estimado']].drop_duplicates('ID Cliente')
df_recomendaciones = df_recomendaciones.merge(producto_mas_comprado, on='ID Cliente')
df_recomendaciones.rename(columns={'Producto_encoded': 'Producto Recomendado'}, inplace=True)

In [21]:
df_recomendaciones

      ID Cliente  Volumen Estimado                      Producto Recomendado
0              1              1.00          Coca-Cola 300 ml Ret Vid 24B (V)
1            100              5.50               Coca-Cola 300 ml NR Pet 12B
2           1000              1.09        Inca Kola Choice 300 ml NR Pet 12B
3           1001              2.60                Coca-Cola E 1Lt NR Pet 12B
4           1002              1.68                Coca-Cola E 1Lt NR Pet 12B
...          ...               ...                                       ...
8323        8336              1.15               Coca-Cola 300 ml NR Pet 12B
8324        8337              2.66                   Coca-Cola E 3 Lts NR 6B
8325        8338              2.95                Coca-Cola E 1Lt NR Pet 12B
8326        8183              1.25  Fanta Harmony Nrj 300 ml Ret Vid 24B (V)
8327        8153              1.45               Coca-Cola 300 ml NR Pet 12B

[8328 rows x 3 columns]

In [22]:
# 1️⃣ Aumentar 10% y redondear hacia arriba
df_recomendaciones['Volumen Estimado'] = np.ceil(df_recomendaciones['Volumen Estimado'] * 1.10)

# 2️⃣ Guardar como CSV
df_recomendaciones.to_csv('df_recomendaciones_actualizado.csv', index=False)